.headerWrapper {
    border-bottom: 1px solid black;
}

.streamListWrapper, .streamCreateWrapper, .streamEditWrapper {
    margin-top: 5%;
}

.form-control {
    width: 40% !important;
}

.button {
    margin-top: 10px !important;
}

.videoPlayer {
    margin-top: 20px;
    text-align: center;
}
